<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sandwich Orders</title>

    <style th:replace="blocks/linkAdminLTE"></style>
    <div th:replace="blocks/links-bootstrap"></div>
    <link rel="stylesheet" th:href="@{/css/popup.css}">
    <link rel="stylesheet" th:href="@{/css/tableSort.css}">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <div th:replace="blocks/navbar"></div>
    <div th:replace="blocks/sidebarContainer"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        <div class="content-header">
            <div class="container-fluid">
                <a th:href="@{/order}" class="btn btn-primary">Back</a>
                <h1 class="m-0">Sandwich Orders</h1>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" style="cursor: pointer;">
                        <div onclick="sort(this, 'id')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Id</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col" style="cursor: pointer;">
                        <div onclick="sort(this, 'sandwich.name')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Sandwich</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col" style="cursor: pointer;">
                        <div onclick="sort(this, 'sauce.name')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Sauce</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col" style="cursor: pointer;">
                        <div onclick="sort(this, 'supplement.name')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Supplement</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col" style="cursor: pointer;">
                        <div onclick="sort(this, 'size.name')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Size</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col" style="cursor: pointer;">
                        <div onclick="sort(this, 'count')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Count</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col" style="cursor: pointer;">
                        <div onclick="sort(this, 'price')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Price</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody id="list">
                <!-- list -->
                </tbody>
            </table>

            <nav>
                <ul id="choose-page" class="pagination">
                    <!-- pagination buttons -->
                </ul>
            </nav>
        </section>
    </div>
    <div id="popup" class="modal">
        <!-- popup -->
    </div>
</div>
<div th:replace="blocks/scriptAdminLTE"></div>
<script th:src="@{/js/validation.js}"></script>

<script>
    let context = window.location.pathname.substring(0, window.location.pathname.indexOf("/",1));
    let url = window.location.protocol+"//"+ window.location.host + context;
    console.log('url: ' + url)
    
    let orderId = "[[${orderId}]]";

    let currentPage = 1;
    let sortingField = 'id';
    let sortingDirection = 'ASC';  // DESC

    let totalPage;

    $(document).ready(function() {
        updatePage();
    });

    function sort(element, field){
        $("th > div > div").each(function(i, item){
            $(item).removeClass("triangle-desc triangle-asc");
        });
        let triangle = $(element).children('div');
        if(sortingDirection === 'ASC'){
            sortingDirection = 'DESC';
            $(triangle[0]).addClass("triangle-desc");
        } else {
            sortingDirection = 'ASC';
            $(triangle[0]).addClass("triangle-asc");
        }
        sortingField = field;
        updatePage();
    }

    function updatePage(){
        let data = {
            page: currentPage,
            field: sortingField,
            direction: sortingDirection,
            orderId: orderId
        }
        $.ajax({
            type: 'get',
            url: url + '/getSandwichOrders',
            data: data,
            dataType: "json",
            success: function (data){
                totalPage = data.totalPages;
                if(currentPage > totalPage && currentPage > 1){
                    currentPage = totalPage;
                    updatePage();
                }
                updateList(data)
                console.log('success /getObjects');
            },
            error: function() {
                console.log('error /getSandwichOrders');
            }
        });
    }

    function roundPlus(x, n) { //x - число, n - количество знаков
        if(isNaN(x) || isNaN(n)) return false;
        let m = Math.pow(10,n);
        return Math.round(x*m)/m;
    }

    function updateList(data) {
        $("#list").empty();
        data.content.forEach((sandwichOrder) => {
            let price = 0;
            price += sandwichOrder.size?.price ?? 0;
            price += sandwichOrder.sandwich?.price ?? 0;
            price += sandwichOrder.sauce?.price ?? 0;
            price += sandwichOrder.supplement?.price ?? 0;
            price *= sandwichOrder.count;
            price = roundPlus(price, 2);
            let sandwich = sandwichOrder.sandwich?.name ?? "not selected";
            let sauce = sandwichOrder.sauce?.name ?? "not selected";
            let supplement = sandwichOrder.supplement?.name ?? "not selected";
            let size = sandwichOrder.size?.name ?? "not selected";
            $("#list").append($("" +
                "<tr>" +
                "<td>" +
                "<p>" + sandwichOrder.id + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + sandwich + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + sauce + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + supplement + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + size + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + sandwichOrder.count + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + price + "</p>" +
                "</td>" +
                "<td>" +
                "<button onclick='deleteObject(" + sandwichOrder.id + ")' class=\"btn btn-danger\" type=\"button\">Delete</button>" +
                "</td>" +
                "</tr>"

            ));
        })
        paginationButton();
    }



    function deleteObject(id){
        let data = { id: id };
        $.ajax({
            type: 'post',
            url: url + '/deleteSandwichOrderById',
            data: data,
            dataType: "json",
            success: function (success){
                console.log(success + ' /deleteSandwichOrderById');
                updatePage()
            },
            error: function() {
                console.log('error /deleteSandwichOrderById');
            }
        });
    }

    function paginationButton(){
        $("#choose-page").empty();
        if(totalPage > 1){
            if(currentPage !== 1){
                $("#choose-page").append($("" +
                    "<div class='page-item'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goFirstPage()' style='height: 40px'>First</button>" +
                    "</div>" +
                    "<div class='page-item'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goPreviousPage()' style='height: 40px'>\<\<</a>" +
                    "</div>"
                ));
            } else {
                $("#choose-page").append($("" +
                    "<div class='page-item disabled'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goFirstPage()' style='height: 40px'>First</button>" +
                    "</div>" +
                    "<div class='page-item disabled'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goPreviousPage()' style='height: 40px'>\<\<</a>" +
                    "</div>"
                ));
            }
            let start = currentPage - 2;
            let finish = currentPage + 2;
            for(let i = start; i <= finish; i++) {
                if(i > 0 && i <= totalPage) {
                    if (currentPage === i) {
                        $("#choose-page").append($("" +
                            "<div class='page-item active'>" +
                            "<button onclick='goToPage(" + i + ")' class='page-link' tabIndex=\"-1\" style='height: 40px; width: 40px'>" + i + "</button>" +
                            "</div>"
                        ));
                    } else {
                        $("#choose-page").append($("" +
                            "<div class='page-item'>" +
                            "<button onclick='goToPage(" + i + ")' class='page-link' tabIndex=\"-1\" style='height: 40px; width: 40px'>" + i + "</button>" +
                            "</div>"
                        ));
                    }
                }
            }
            if(currentPage !== totalPage) {
                $("#choose-page").append($("" +
                    "<div class='page-item'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goNextPage()' style='height: 40px'>\>\></button>" +
                    "</div>" +
                    "<div class='page-item'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goLastPage()' style='height: 40px'>Last</a>" +
                    "</div>"
                ));
            } else {
                $("#choose-page").append($("" +
                    "<div class='page-item disabled'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goNextPage()' style='height: 40px'>\>\></button>" +
                    "</div>" +
                    "<div class='page-item disabled'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goLastPage()' style='height: 40px'>Last</a>" +
                    "</div>"
                ));
            }
        }
    }

    function goFirstPage(){
        currentPage = 1;
        updatePage();
    }
    function goPreviousPage(){
        currentPage--;
        updatePage()
    }
    function goToPage(i){
        currentPage = i;
        updatePage()
    }
    function goNextPage(){
        currentPage++;
        updatePage()
    }
    function goLastPage(){
        currentPage = totalPage;
        updatePage()
    }
</script>

</main>
</body>
</html>