<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coffee Awards</title>

    <style th:replace="blocks/linkAdminLTE"></style>
    <div th:replace="blocks/links-bootstrap"></div>
    <link rel="stylesheet" th:href="@{/css/popup.css}">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <div th:replace="blocks/navbar"></div>
    <div th:replace="blocks/sidebarContainer"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        <div class="content-header">
            <div class="container-fluid">
                <h1 class="m-0">Coffee Awards</h1>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <button onclick="openPopup('add')" class="btn btn-success popup-with-form">Add</button>
            <table class="table">
                <thead>
                <tr>
                    <th onclick="sort('id')" scope="col">Id</th>
                    <th onclick="sort('coffee')" scope="col">Coffee</th>
                    <th onclick="sort('size')" scope="col">Size</th>
                    <th onclick="sort('alcohol')" scope="col">Alcohol</th>
                    <th onclick="sort('syrup')" scope="col">Syrup</th>
                    <th onclick="sort('milk')" scope="col">Milk</th>
                    <th onclick="sort('supplement')" scope="col">Supplement</th>
                    <th onclick="sort('count')" scope="col">Count</th>
                    <th scope="col">Price</th>
                    <th onclick="sort('active')" scope="col">Active</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody id="list">
                <!-- list -->
                </tbody>
            </table>

            <div id="choose-page" class="row" style="width: 40%;" >
                <!-- pagination button -->
            </div>

        </section>
    </div>
    <div id="popup" class="modal">
        <!-- popup -->
    </div>
</div>
<div th:replace="blocks/scriptAdminLTE"></div>
<script th:src="@{/js/validation.js}"></script>

<script>
    let context = window.location.pathname.substring(0, window.location.pathname.indexOf("/",1));
    let url = window.location.protocol+"//"+ window.location.host + context;
    
    let modal = document.getElementById("popup");
    let orderId = "[[${orderId}]]";

    let currentPage = 1;
    let sortingField = 'id';
    let sortingDirection = 'ASC';  // DESC

    let Order = null;
    let totalPage;

    $(document).ready(function() {
        updatePage(currentPage, sortingField, sortingDirection);
    });

    function sort(field){
        if(sortingDirection === 'ASC'){
            sortingDirection = 'DESC';
        } else {
            sortingDirection = 'ASC';
        }
        sortingField = field;
        updatePage(currentPage, sortingField, sortingDirection);
    }

    function updatePage(currentPage, sortingField, sortingDirection){
        let data = {
            page: currentPage,
            field: sortingField,
            direction: sortingDirection,
            orderId: orderId
        }
        $.ajax({
            type: 'get',
            url: url + '/awards/getCoffeeOrders',
            data: data,
            dataType: "json",
            success: function (data){
                totalPage = data.totalPages;
                updateList(data)
                console.log('success /getCoffeeOrders');
            },
            error: function() {
                console.log('error /getCoffeeOrders');
            }
        });
    }

    function updateList(data) {
        $("#list").empty();
        data.content.forEach((coffeeOrder) => {
            let price = 0;
            price += coffeeOrder.size?.price ?? 0;
            price += coffeeOrder.alcohol?.price ?? 0;
            price += coffeeOrder.syrup?.price ?? 0;
            price += coffeeOrder.milk?.price ?? 0;
            price += coffeeOrder.supplement?.price ?? 0;
            price *= coffeeOrder.count;
            let coffee = coffeeOrder.coffee?.name ?? "not selected";
            let alcohol = coffeeOrder.alcohol?.name ?? "not selected";
            let syrup = coffeeOrder.syrup?.name ?? "not selected";
            let milk = coffeeOrder.milk?.name ?? "not selected";
            let supplement = coffeeOrder.supplement?.name ?? "not selected";
            let size = coffeeOrder.size?.name ?? "not selected";
            $("#list").append($("" +
                "<tr>" +
                "<td>" +
                "<p>" + coffeeOrder.id + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + coffee + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + size + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + alcohol + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + syrup + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + milk + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + supplement + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + coffeeOrder.count + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + price + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + coffeeOrder.active + "</p>" +
                "</td>" +
                "<td>" +
                "<button onclick='getCoffeeOrderById(" + coffeeOrder.id + ")' class=\"btn btn-warning\" type=\"button\">Edit</button>" +
                "</td>" +
                "<td>" +
                "<button onclick='deleteObject(" + coffeeOrder.id + ")' class=\"btn btn-danger\" type=\"button\">Delete</button>" +
                "</td>" +
                "</tr>"
            ))
        })
        paginationButton();
    }

    function openPopup(style){
        modal.style.display = "block";
        $("#popup").append($(
            "<div class=\"modal-content\">\n" +
            "            <span onclick=\"closePopup()\" class=\"close\">&times;</span>\n" +
            "            <form id=\"add-form\" class=\"mt-2\">\n" +
            "\n" +
            "                <div class='row'>\n" +
            "                   <div class='col'>\n" +
            "                       <div class=\"form-group mt-2\">\n" +
            "                           <label>Coffee:</label>\n" +
            "                           <select onchange='updateSize()' id='coffee' name='coffee' class='form-control'>" +
            "                               <option value='" + null + "' disabled selected>Choose coffee</option>" +
            "                           </select>" +
            "                           <p id='coffeeMessage' style=\"color: red\"></p>" +
            "                       </div>\n" +
            "                   </div>\n" +
            "                   <div class='col'>\n" +
            "                       <div class=\"form-group mt-2\">\n" +
            "                           <label>Size:</label>\n" +
            "                           <select id='size' name='size' class='form-control'>" +
            "                               <option value='" + null + "' disabled selected>Choose size</option>" +
            "                           </select>" +
            "                           <p id='sizeMessage' style=\"color: red\"></p>" +
            "                       </div>\n" +
            "                   </div>\n" +
            "               </div>\n" +
            "\n" +
            "                <div class=\"form-group mt-2\">\n" +
            "                    <label>Alcohol:</label>\n" +
            "                    <select id='alcohol' name='alcohol' class='form-control'>" +
            "                    </select>" +
            "                </div>\n" +
            "\n" +
            "                <div class=\"form-group mt-2\">\n" +
            "                    <label>Syrup:</label>\n" +
            "                    <select id='syrup' name='syrup' class='form-control'>" +
            "                    </select>" +
            "                </div>\n" +
            "\n" +
            "                <div class=\"form-group mt-2\">\n" +
            "                    <label>Milk:</label>\n" +
            "                    <select id='milk' name='milk' class='form-control'>" +
            "                    </select>" +
            "                </div>\n" +
            "\n" +
            "                <div class=\"form-group mt-2\">\n" +
            "                    <label>Supplement:</label>\n" +
            "                    <select id='supplement' name='supplement' class='form-control'>" +
            "                    </select>" +
            "                </div>\n" +
            "\n" +
            "                <div class=\"form-group mt-2\">\n" +
            "                     <label>Count:</label>\n" +
            "                     <input id=\"count\" min='0' value='1' type='number' name=\"count\"\n" +
            "                            placeholder=\"Enter count\" maxlength='5' class=\"form-control\">\n" +
            "                    <p id='countMessage' style=\"color: red\"></p>" +
            "                </div>\n" +
            "\n" +
            "                <div class=\"d-flex flex-nowrap mt-2\">\n" +
            "                    <label class=\"m-1\">Active:</label>\n" +
            "                    <div class=\"form-check form-switch m-1\">\n" +
            "                        <input id=\"active\" type=\"checkbox\" name=\"active\" class=\"form-check-input\" checked=\"checked\" role=\"switch\">\n" +
            "                    </div>\n" +
            "                </div>\n" +
            "\n" +
            "                <button onclick=\"save('"  + style + "')\" type=\"button\" class=\"btn btn-success mt-2\">Save</button>\n" +
            "            </form>\n" +
            "        </div>"
        ));
        uploadSelect();
    }

    function save(style){
        let coffeeOrder = {};

        let count = document.getElementById('count');
        let active = document.getElementById('active');

        coffeeOrder.coffeeId = $('#coffee').val();
        coffeeOrder.sizeId = $('#size').val()
        coffeeOrder.alcoholId = $('#alcohol').val()
        coffeeOrder.syrupId = $('#syrup').val()
        coffeeOrder.milkId = $('#milk').val()
        coffeeOrder.supplementId = $('#supplement').val()
        coffeeOrder.count = parseInt(count.value)
        coffeeOrder.active = active.checked

        if(style === 'add') {
            $.ajax({
                type: 'post',
                url: url + '/awards/addCoffeeOrder',
                data: JSON.stringify(coffeeOrder),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log('success /addCoffeeOrder');
                    let validation = JSON.parse(data);
                    if (validation == null) {
                        updatePage(currentPage, sortingField, sortingDirection)
                        closePopup();
                    } else {
                        validationMessage(validation);
                    }
                },
                error: function () {
                    console.log('error /addCoffeeOrder');
                }
            });
        }

        if(style === 'edit') {
            coffeeOrder.id = IdForUpdating;
            $.ajax({
                type: 'post',
                url: url + '/awards/updateCoffeeOrder',
                data: JSON.stringify(coffeeOrder),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log('success /updateCoffeeOrder');
                    let validation = JSON.parse(data);
                    if (validation == null) {
                        updatePage(currentPage, sortingField, sortingDirection)
                        closePopup();
                    } else {
                        validationMessage(validation);
                    }
                },
                error: function () {
                    console.log('error /updateCoffeeOrder');
                }
            });
        }
    }

    function validationMessage(validation){
        if(validation?.coffeeId ?? false){
            document.getElementById('coffeeMessage').innerHTML = validation.coffeeId;
            document.getElementById('coffee').style.border = "1px solid red";
        }else {
            document.getElementById('coffeeMessage').innerHTML = "";
            document.getElementById('coffee').style.border = "1px solid green";
        }
        if(validation?.sizeId ?? false){
            document.getElementById('sizeMessage').innerHTML = validation.sizeId;
            document.getElementById('size').style.border = "1px solid red";
        }else {
            document.getElementById('sizeMessage').innerHTML = "";
            document.getElementById('size').style.border = "1px solid green";
        }
        if(validation?.count ?? false){
            document.getElementById('countMessage').innerHTML = validation.count;
            document.getElementById('count').style.border = "1px solid red";
        }else {
            document.getElementById('countMessage').innerHTML = "";
            document.getElementById('count').style.border = "1px solid green";
        }
    }

    function getCoffeeOrderById(id){
        let data = {id: id}
        $.ajax({
            type: 'get',
            url: url + '/awards/getCoffeeOrderById',
            data: data,
            dataType: "json",
            success: function (coffeeOrder){
                console.log('success /getCoffeeOrderById');
                Order = coffeeOrder;
                IdForUpdating = Order.id;
                Order.coffee.sizes = null;
                openPopup('edit');
            },
            error: function() {
                console.log('error /getCoffeeOrderById');
            }
        });
    }

    function deleteObject(id){
        let data = { id: id };
        $.ajax({
            type: 'post',
            url: url + '/awards/deleteCoffeeOrderById',
            data: data,
            dataType: "json",
            success: function (success){
                console.log(success + ' /deleteCoffeeOrderById');
                updatePage(currentPage, sortingField, sortingDirection)
            },
            error: function() {
                console.log('error /deleteCoffeeOrderById');
            }
        });
    }

    function closePopup(){
        Order = null;
        modal.style.display = "none";
        $("#popup").empty();
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            closePopup();
        }
    }

    function uploadSelect(){
        console.log(url + '/getAllActiveCoffees');
        $.ajax({
            type: 'get',
            url: url + '/getAllActiveCoffees',
            dataType: "json",
            success: function (data){
                console.log('success /getAllActiveCoffees');
                data.forEach((coffee) =>{
                    coffee.sizes = null;
                    if(JSON.stringify(coffee) === JSON.stringify(Order?.coffee?? null)) {
                        $("#coffee").append($("" +
                            "<option value='" + coffee.id + "' selected> " + coffee.name + "</option>"
                        ));
                        updateSize()
                        let count = document.getElementById("count");
                        count.value = Order.count;
                        let active = document.getElementById("active");
                        active.checked = Order.active;
                    } else {
                        $("#coffee").append($("" +
                            "<option value='" + coffee.id + "'> " + coffee.name + "</option>"
                        ));
                    }
                    // "<option value='" + coffee + "'> " + coffee.name + " " + coffee.sizes.forEach((size) => {size.name}) + "</option>"
                })
            },
            error: function() {
                console.log('error /getAllActiveCoffees');
            }
        });
        $.ajax({
            type: 'get',
            url: url + '/getAllActiveAlcohols',
            dataType: "json",
            success: function (data){
                console.log('success /getAllActiveAlcohols');
                $("#alcohol").append($("" +
                    "<option value='" + null + "'>Without alcohol</option>"
                ));
                data.forEach((alcohol) =>{
                    if(JSON.stringify(alcohol) === JSON.stringify(Order?.alcohol?? null)) {
                        $("#alcohol").append($("" +
                            "<option value='" + alcohol.id + "' selected> " + alcohol.name + " ("+ alcohol.price  + ")</option>"
                        ));
                    } else {
                        $("#alcohol").append($("" +
                            "<option value='" + alcohol.id + "'> " + alcohol.name + " ("+ alcohol.price  + ")</option>"
                        ));
                    }
                })
            },
            error: function() {
                console.log('error /getAllActiveAlcohols');
            }
        });
        $.ajax({
            type: 'get',
            url: url + '/getAllActiveSyrups',
            dataType: "json",
            success: function (data){
                console.log('success /getAllActiveSyrups');
                $("#syrup").append($("" +
                    "<option value='" + null + "'>Without syrup</option>"
                ));
                data.forEach((syrup) =>{
                    if(JSON.stringify(syrup) === JSON.stringify(Order?.syrup?? null)) {
                        $("#syrup").append($("" +
                            "<option value='" + syrup.id + "' selected> " + syrup.name + " ("+ syrup.price  + ")</option>"
                        ));
                    } else {
                        $("#syrup").append($("" +
                            "<option value='" + syrup.id + "'> " + syrup.name + " ("+ syrup.price  + ")</option>"
                        ));
                    }
                })
            },
            error: function() {
                console.log('error /getAllActiveSyrups');
            }
        });
        $.ajax({
            type: 'get',
            url: url + '/getAllActiveMilks',
            dataType: "json",
            success: function (data){
                console.log('success /getAllActiveMilks');
                $("#milk").append($("" +
                    "<option value='" + null + "'>Without milk</option>"
                ));
                data.forEach((milk) =>{
                    if(JSON.stringify(milk) === JSON.stringify(Order?.milk?? null)) {
                        $("#milk").append($("" +
                            "<option value='" + milk.id + "' selected> " + milk.name + " ("+ milk.price  + ")</option>"
                        ));
                    } else {
                        $("#milk").append($("" +
                            "<option value='" + milk.id + "'> " + milk.name + " ("+ milk.price  + ")</option>"
                        ));
                    }
                })
            },
            error: function() {
                console.log('error /getAllActiveMilks');
            }
        });
        $.ajax({
            type: 'get',
            url: url + '/getAllActiveSupplements',
            dataType: "json",
            success: function (data){
                console.log('success /getAllActiveSupplements');
                $("#supplement").append($("" +
                    "<option value='" + null + "'>Without supplement</option>"
                ));
                data.forEach((supplement) =>{
                    if(JSON.stringify(supplement) === JSON.stringify(Order?.supplement?? null)) {
                        $("#supplement").append($("" +
                            "<option value='" + supplement.id + "' selected> " + supplement.name + " ("+ supplement.price  + ")</option>"
                        ));
                    } else {
                        $("#supplement").append($("" +
                            "<option value='" + supplement.id + "'> " + supplement.name + " ("+ supplement.price  + ")</option>"
                        ));
                    }
                })
            },
            error: function() {
                console.log('error /getAllActiveSupplements');
            }
        });
    }

    function updateSize(){
        let coffeeId = $('#coffee').val();
        $.ajax({
            type: 'get',
            url: url + '/getCoffeeById',
            data: {id: coffeeId},
            dataType: "json",
            success: function (data){
                console.log('success /getCoffeeById');
                $("#size").empty();
                $("#size").append($("<option value='" + null + "' disabled selected>Choose size</option>"));
                data.sizes.forEach((size) =>{
                    if(JSON.stringify(size) === JSON.stringify(Order?.size?? null)){
                        $("#size").append($("" +
                            "<option value='" + size.id + "' selected> " + size.name + " (" + size.price + ")</option>"
                        ));
                    } else {
                        $("#size").append($("" +
                            "<option value='" + size.id + "'> " + size.name + " (" + size.price + ")</option>"
                        ));
                    }
                })
            },
            error: function() {
                console.log('error /getCoffeeById');
            }
        });
    }

    function paginationButton(){
        $("#choose-page").empty();
        if(totalPage > 1){
            // $("#choose-page").append($("<ul class=\"pagination\">"));
            if(currentPage !== 1){
                $("#choose-page").append($("" +
                    "<div class=\"col\">" +
                    "<button onclick='goFirstPage()' class=\"btn btn-primary\" style='height: 50px'>First</button>" +
                    "</div>" +
                    "<div class=\"col\">" +
                    "<button onclick='goPreviousPage()' class=\"btn btn-primary\" style='height: 50px'>Previous</a>" +
                    "</div>"
                ));
            }
            let start = currentPage - 2;
            let finish = currentPage + 2;
            for(let i = start; i <= finish; i++) {
                if(i > 0 && i <= totalPage) {
                    $("#choose-page").append($("" +
                        "<div class=\"col\">" +
                        "<button onclick='goToPage(" + i + ")' class=\"btn btn-primary\" style='height: 50px; width: 50px'>" + i + "</button>" +
                        "</div>"
                    ));
                }
            }
            if(currentPage !== totalPage) {
                $("#choose-page").append($("" +
                    "<div class=\"col\">" +
                    "<button onclick='goNextPage()' class=\"btn btn-primary\" style='height: 50px'>Next</button>" +
                    "</div>" +
                    "<div class=\"col\">" +
                    "<button onclick='goLastPage()' class=\"btn btn-primary\" style='height: 50px'>Last</button>" +
                    "</div>"
                ));
            }
            // $("#choose-page").append($("</ul>"));
        }
    }

    function goFirstPage(){
        currentPage = 1;
        updatePage(currentPage, sortingField, sortingDirection);
    }
    function goPreviousPage(){
        currentPage--;
        updatePage(currentPage, sortingField, sortingDirection)
    }
    function goToPage(i){
        currentPage = i;
        updatePage(currentPage, sortingField, sortingDirection)
    }
    function goNextPage(){
        currentPage++;
        updatePage(currentPage, sortingField, sortingDirection)
    }
    function goLastPage(){
        currentPage = totalPage;
        updatePage(currentPage, sortingField, sortingDirection)
    }
</script>

</main>
</body>
</html>