<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Snack Awards</title>

    <style th:replace="blocks/linkAdminLTE"></style>
    <div th:replace="blocks/links-bootstrap"></div>
    <link rel="stylesheet" th:href="@{/css/popup.css}">
    <link rel="stylesheet" th:href="@{/css/tableSort.css}">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <div th:replace="blocks/navbar"></div>
    <div th:replace="blocks/sidebarContainer"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        <div class="content-header">
            <div class="container-fluid">
                <h1 class="m-0">Snack Awards</h1>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <button onclick="openPopup('add')" class="btn btn-success popup-with-form">Add</button>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" style="cursor: pointer;">
                        <div onclick="sort(this, 'id')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Id</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col" style="cursor: pointer;">
                        <div onclick="sort(this, 'snack.name')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Snack</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col" style="cursor: pointer;">
                        <div onclick="sort(this, 'size.name')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Size</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col" style="cursor: pointer;">
                        <div onclick="sort(this, 'sauce.name')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Sauce</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col" style="cursor: pointer;">
                        <div onclick="sort(this, 'supplement.name')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Supplement</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col" style="cursor: pointer;">
                        <div onclick="sort(this, 'count')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Count</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col" style="cursor: pointer;">
                        <div onclick="sort(this, 'price')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Price</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col" style="cursor: pointer;">
                        <div onclick="sort(this, 'active')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Active</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody id="list">
                <!-- list -->
                </tbody>
            </table>

            <nav>
                <ul id="choose-page" class="pagination">
                    <!-- pagination buttons -->
                </ul>
            </nav>

        </section>
    </div>
    <div id="popup" class="modal">
        <!-- popup -->
    </div>
</div>
<div th:replace="blocks/scriptAdminLTE"></div>
<script th:src="@{/js/validation.js}"></script>

<script>
    let context = window.location.pathname.substring(0, window.location.pathname.indexOf("/",1));
    let url = window.location.protocol+"//"+ window.location.host + context;
    
    let modal = document.getElementById("popup");
    let orderId = "[[${orderId}]]";

    let currentPage = 1;
    let sortingField = 'id';
    let sortingDirection = 'ASC';  // DESC

    let Order = null;
    let totalPage;

    $(document).ready(function() {
        updatePage();
    });

    function sort(element, field){
        $("th > div > div").each(function(i, item){
            $(item).removeClass("triangle-desc triangle-asc");
        });
        let triangle = $(element).children('div');
        if(sortingDirection === 'ASC'){
            sortingDirection = 'DESC';
            $(triangle[0]).addClass("triangle-desc");
        } else {
            sortingDirection = 'ASC';
            $(triangle[0]).addClass("triangle-asc");
        }
        sortingField = field;
        updatePage();
    }

    function updatePage(){
        let data = {
            page: currentPage,
            field: sortingField,
            direction: sortingDirection,
            orderId: orderId
        }
        $.ajax({
            type: 'get',
            url: url + '/awards/getSnackOrders',
            data: data,
            dataType: "json",
            success: function (data){
                totalPage = data.totalPages;
                if(currentPage > totalPage && currentPage > 1){
                    currentPage = totalPage;
                    updatePage();
                }
                updateList(data)
                console.log('success /getObjects');
            },
            error: function() {
                console.log('error /awards/getSnackOrders');
            }
        });
    }

    function updateList(data) {
        $("#list").empty();
        data.content.forEach((snackOrder) => {
            let price = 0;
            price += snackOrder.size?.price ?? 0;
            price += snackOrder.sauce?.price ?? 0;
            price += snackOrder.supplement?.price ?? 0;
            price *= snackOrder.count;
            price = roundPlus(price, 2);
            let snack = snackOrder.snack?.name ?? "not selected";
            let sauce = snackOrder.sauce?.name ?? "not selected";
            let supplement = snackOrder.supplement?.name ?? "not selected";
            let size = snackOrder.size?.name ?? "not selected";
            $("#list").append($("" +
                "<tr>" +
                "<td>" +
                "<p>" + snackOrder.id + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + snack + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + size + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + sauce + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + supplement + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + snackOrder.count + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + price + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + snackOrder.active + "</p>" +
                "</td>" +
                "<td>" +
                "<button onclick='getSnackOrderById(" + snackOrder.id + ")' class=\"btn btn-warning\" type=\"button\">Edit</button>" +
                "</td>" +
                "<td>" +
                "<button onclick='deleteObject(" + snackOrder.id + ")' class=\"btn btn-danger\" type=\"button\">Delete</button>" +
                "</td>" +
                "</tr>"
            ))
        })
        paginationButton();
    }

    function roundPlus(x, n) { //x - число, n - количество знаков
        if(isNaN(x) || isNaN(n)) return false;
        let m = Math.pow(10,n);
        return Math.round(x*m)/m;
    }

    function openPopup(style){
        modal.style.display = "block";
        $("#popup").append($(
            "<div class=\"modal-content\">\n" +
            "            <span onclick=\"closePopup()\" class=\"close\">&times;</span>\n" +
            "            <form id=\"add-form\" class=\"mt-2\">\n" +
            "                <div class='row'>\n" +
            "                   <div class='col'>\n" +
            "                       <div class=\"form-group mt-2\">\n" +
            "                           <label>Snack:</label>\n" +
            "                           <select onchange='updateSize()' id='snack' name='snack' class='form-control'>" +
            "                               <option data-value='" + null + "' disabled selected>Choose snack</option>" +
            "                           </select>" +
            "                           <p id='snackMessage' style=\"color: red\"></p>" +
            "                       </div>\n" +
            "                   </div>\n" +
            "                   <div class='col'>\n" +
            "                       <div class=\"form-group mt-2\">\n" +
            "                           <label>Size:</label>\n" +
            "                           <select id='size' name='size' class='form-control'>" +
            "                               <option data-value='" + null + "' disabled selected>Choose size</option>" +
            "                           </select>" +
            "                           <p id='sizeMessage' style=\"color: red\"></p>" +
            "                       </div>\n" +
            "                   </div>\n" +
            "               </div>\n" +
            "                <div class=\"form-group mt-2\">\n" +
            "                    <label>Sauce:</label>\n" +
            "                    <select id='sauce' name='sauce' class='form-control'>" +
            "                    </select>" +
            "                </div>\n" +
            "                <div class=\"form-group mt-2\">\n" +
            "                    <label>Supplement:</label>\n" +
            "                    <select id='supplement' name='supplement' class='form-control'>" +
            "                    </select>" +
            "                </div>\n" +
            "                <div class=\"form-group mt-2\">\n" +
            "                     <label>Count:</label>\n" +
            "                     <input id=\"count\" min='0' value='1' type='number' name=\"count\"\n" +
            "                            placeholder=\"Enter count\" maxlength='5' class=\"form-control\">\n" +
            "                    <p id='countMessage' style=\"color: red\"></p>" +
            "                </div>\n" +
            "                <div class=\"d-flex flex-nowrap mt-2\">\n" +
            "                    <label class=\"m-1\">Active:</label>\n" +
            "                    <div class=\"form-check form-switch m-1\">\n" +
            "                        <input id=\"active\" type=\"checkbox\" name=\"active\" class=\"form-check-input\" checked=\"checked\" role=\"switch\">\n" +
            "                    </div>\n" +
            "                </div>\n" +
            "                <button onclick=\"save('"  + style + "')\" type=\"button\" class=\"btn btn-success mt-2\">Save</button>\n" +
            "            </form>\n" +
            "        </div>"
        ));
        uploadSelect();
    }

    function save(style){
        let snackOrder = {};

        let count = document.getElementById('count');
        let active = document.getElementById('active');

        snackOrder.snackId = $('#snack').val();
        snackOrder.sizeId = $('#size').val()
        snackOrder.sauceId = $('#sauce').val()
        snackOrder.supplementId = $('#supplement').val()
        snackOrder.count = parseInt(count.value)
        snackOrder.active = active.checked

        if(style === 'add') {
            $.ajax({
                type: 'post',
                url: url + '/awards/addSnackOrder',
                data: JSON.stringify(snackOrder),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log('success /addSnackOrder');
                    let validation = JSON.parse(data);
                    if (validation == null) {
                        updatePage()
                        closePopup();
                    } else {
                        validationMessage(validation);
                    }
                },
                error: function () {
                    console.log('error /addSnackOrder');
                }
            });
        }

        if(style === 'edit') {
            snackOrder.id = IdForUpdating;
            $.ajax({
                type: 'post',
                url: url + '/awards/updateSnackOrder',
                data: JSON.stringify(snackOrder),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log('success /updateSnackOrder');
                    let validation = JSON.parse(data);
                    if (validation == null) {
                        updatePage()
                        closePopup();
                    } else {
                        validationMessage(validation);
                    }
                },
                error: function () {
                    console.log('error /updateSnackOrder');
                }
            });
        }
    }

    function validationMessage(validation){
        if(validation?.snackId ?? false){
            document.getElementById('snackMessage').innerHTML = validation.snackId;
            document.getElementById('snack').style.border = "1px solid red";
        }else {
            document.getElementById('snackMessage').innerHTML = "";
            document.getElementById('snack').style.border = "1px solid green";
        }
        if(validation?.sizeId ?? false){
            document.getElementById('sizeMessage').innerHTML = validation.sizeId;
            document.getElementById('size').style.border = "1px solid red";
        }else {
            document.getElementById('sizeMessage').innerHTML = "";
            document.getElementById('size').style.border = "1px solid green";
        }
        if(validation?.count ?? false){
            document.getElementById('countMessage').innerHTML = validation.count;
            document.getElementById('count').style.border = "1px solid red";
        }else {
            document.getElementById('countMessage').innerHTML = "";
            document.getElementById('count').style.border = "1px solid green";
        }
    }

    function getSnackOrderById(id){
        let data = {id: id}
        $.ajax({
            type: 'get',
            url: url + '/awards/getSnackOrderById',
            data: data,
            dataType: "json",
            success: function (SnackOrder){
                console.log('success /getOrderById');
                Order = SnackOrder;
                IdForUpdating = Order.id;
                Order.snack.sizes = null;
                openPopup('edit');
            },
            error: function() {
                console.log('error /getSnackOrderById');
            }
        });
    }

    function deleteObject(id){
        let data = { id: id };
        $.ajax({
            type: 'post',
            url: url + '/awards/deleteSnackOrderById',
            data: data,
            dataType: "json",
            success: function (success){
                console.log(success + ' /deleteSnackOrderById');
                updatePage()
            },
            error: function() {
                console.log('error /deleteSnackOrderById');
            }
        });
    }

    function closePopup(){
        Order = null;
        modal.style.display = "none";
        $("#popup").empty();
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            closePopup();
        }
    }

    function uploadSelect(){
        $.ajax({
            type: 'get',
            url: url + '/getAllActiveSnacks',
            dataType: "json",
            data: {id: Order?.snack?.id ?? null},
            success: function (data){
                console.log('success /getAllActiveSnacks');
                data.forEach((snack) =>{
                    snack.sizes = null;
                    if(JSON.stringify(snack) === JSON.stringify(Order?.snack?? null)) {
                        $("#snack").append($("" +
                            "<option value='" + snack.id + "' selected> " + snack.name + "</option>"
                        ));
                        updateSize()
                        let count = document.getElementById("count");
                        count.value = Order.count;
                        let active = document.getElementById("active");
                        active.checked = Order.active;
                    } else {
                        $("#snack").append($("" +
                            "<option value='" + snack.id + "'> " + snack.name + "</option>"
                        ));
                    }
                })
            },
            error: function() {
                console.log('error /getAllActiveSnacks');
            }
        });
        $.ajax({
            type: 'get',
            url: url + '/getAllActiveSauces',
            dataType: "json",
            data: {id: Order?.sauce?.id ?? null},
            success: function (data){
                console.log('success /getAllActiveSauces');
                $("#sauce").append($("" +
                    "<option value='" + null + "'>Without sauce</option>"
                ));
                data.forEach((sauce) =>{
                    if(JSON.stringify(sauce) === JSON.stringify(Order?.sauce?? null)) {
                        $("#sauce").append($("" +
                            "<option value='" + sauce.id + "' selected> " + sauce.name + " ("+ sauce.price  + ")</option>"
                        ));
                    } else {
                        $("#sauce").append($("" +
                            "<option value='" + sauce.id + "'> " + sauce.name + " ("+ sauce.price  + ")</option>"
                        ));
                    }
                })
            },
            error: function() {
                console.log('error /getAllActiveSauces');
            }
        });
        $.ajax({
            type: 'get',
            url: url + '/getAllActiveSupplements',
            dataType: "json",
            data: {id: Order?.supplement?.id ?? null},
            success: function (data){
                console.log('success /getAllActiveSupplements');
                $("#supplement").append($("" +
                    "<option value='" + null + "'>Without supplement</option>"
                ));
                data.forEach((supplement) =>{
                    if(JSON.stringify(supplement) === JSON.stringify(Order?.supplement?? null)) {
                        $("#supplement").append($("" +
                            "<option value='" + supplement.id + "' selected> " + supplement.name + " ("+ supplement.price  + ")</option>"
                        ));
                    } else {
                        $("#supplement").append($("" +
                            "<option value='" + supplement.id + "'> " + supplement.name + " ("+ supplement.price  + ")</option>"
                        ));
                    }
                })
            },
            error: function() {
                console.log('error /getAllActiveSupplements');
            }
        });
    }

    function updateSize(){
        let snackId = $('#snack').val();
        $.ajax({
            type: 'get',
            url: url + '/getSnackById',
            data: {id: snackId},
            dataType: "json",
            success: function (data){
                console.log('success /getSnackById');
                $("#size").empty();
                $("#size").append($("<option value='" + null + "' disabled selected>Choose size</option>"));
                data.sizes.forEach((size) =>{
                    if(JSON.stringify(size) === JSON.stringify(Order?.size?? null)){
                        $("#size").append($("" +
                            "<option value='" + size.id + "' selected> " + size.name + " (" + size.price + ")</option>"
                        ));
                    } else {
                        $("#size").append($("" +
                            "<option value='" + size.id + "'> " + size.name + " (" + size.price + ")</option>"
                        ));
                    }
                })
            },
            error: function() {
                console.log('error /getSnackById');
            }
        });
    }

    function paginationButton(){
        $("#choose-page").empty();
        if(totalPage > 1){
            if(currentPage !== 1){
                $("#choose-page").append($("" +
                    "<div class='page-item'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goFirstPage()' style='height: 40px'>First</button>" +
                    "</div>" +
                    "<div class='page-item'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goPreviousPage()' style='height: 40px'>\<\<</a>" +
                    "</div>"
                ));
            } else {
                $("#choose-page").append($("" +
                    "<div class='page-item disabled'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goFirstPage()' style='height: 40px'>First</button>" +
                    "</div>" +
                    "<div class='page-item disabled'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goPreviousPage()' style='height: 40px'>\<\<</a>" +
                    "</div>"
                ));
            }
            let start = currentPage - 2;
            let finish = currentPage + 2;
            for(let i = start; i <= finish; i++) {
                if(i > 0 && i <= totalPage) {
                    if (currentPage === i) {
                        $("#choose-page").append($("" +
                            "<div class='page-item active'>" +
                            "<button onclick='goToPage(" + i + ")' class='page-link' tabIndex=\"-1\" style='height: 40px; width: 40px'>" + i + "</button>" +
                            "</div>"
                        ));
                    } else {
                        $("#choose-page").append($("" +
                            "<div class='page-item'>" +
                            "<button onclick='goToPage(" + i + ")' class='page-link' tabIndex=\"-1\" style='height: 40px; width: 40px'>" + i + "</button>" +
                            "</div>"
                        ));
                    }
                }
            }
            if(currentPage !== totalPage) {
                $("#choose-page").append($("" +
                    "<div class='page-item'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goNextPage()' style='height: 40px'>\>\></button>" +
                    "</div>" +
                    "<div class='page-item'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goLastPage()' style='height: 40px'>Last</a>" +
                    "</div>"
                ));
            } else {
                $("#choose-page").append($("" +
                    "<div class='page-item disabled'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goNextPage()' style='height: 40px'>\>\></button>" +
                    "</div>" +
                    "<div class='page-item disabled'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goLastPage()' style='height: 40px'>Last</a>" +
                    "</div>"
                ));
            }
        }
    }

    function goFirstPage(){
        currentPage = 1;
        updatePage();
    }
    function goPreviousPage(){
        currentPage--;
        updatePage()
    }
    function goToPage(i){
        currentPage = i;
        updatePage()
    }
    function goNextPage(){
        currentPage++;
        updatePage()
    }
    function goLastPage(){
        currentPage = totalPage;
        updatePage()
    }
</script>

</main>
</body>
</html>