<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tea</title>

    <style th:replace="blocks/linkAdminLTE"></style>
    <div th:replace="blocks/links-bootstrap"></div>
    <link rel="stylesheet" th:href="@{/css/popup.css}">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <div th:replace="blocks/navbar"></div>
    <div th:replace="blocks/sidebarContainer"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <h1 class="m-0">Tea</h1>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <button onclick="openPopup('add')" class="btn btn-success popup-with-form">Add</button>
            <table class="table">
                <thead>
                <tr>
                    <th onclick="sort('id')" scope="col">Id</th>
                    <th onclick="sort('name')" scope="col">Name</th>
                    <th scope="col">Photo</th>
                    <th scope="col">Sizes</th>
                    <th scope="col">Average price</th>
                    <th scope="col">Active</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody id="list">
                <!-- list -->
                </tbody>
            </table>

            <div id="choose-page" class="row" style="width: 40%;" >
                <!-- pagination button -->
            </div>
        </section>
    </div>
    <div id="popup" class="modal">
        <!-- popup -->
    </div>
</div>
<div th:replace="blocks/scriptAdminLTE"></div>
<script th:src="@{/js/validation.js}"></script>

<script>
    let modal = document.getElementById("popup");

    let context = window.location.pathname.substring(0, window.location.pathname.indexOf("/",2));
    let url =window.location.protocol+"//"+ window.location.host +context+"/img/tea/";

    let currentPage = 1;
    let sortingField = 'id';
    let sortingDirection = 'ASC';  // DESC

    let totalPage;
    let countSize = 1;
    let IdForUpdating;

    $(document).ready(function() {
        updatePage(currentPage, sortingField, sortingDirection);
    });

    function showImage() {
        let image = document.getElementById("image");
        let file = document.getElementById("file");
        image.src = URL.createObjectURL(file.files[0]);
        image.style.display = "block";
    }

    function openPopup(style){
        modal.style.display = "block";
        $("#popup").append($(
            "<div class=\"modal-content\">\n" +
            "            <span onclick=\"closePopup()\" class=\"close\">&times;</span>\n" +
            "            <form id=\"add-form\" class=\"mt-2\">\n" +
            "\n" +
            "                <div class=\"form-group mt-2\">\n" +
            "                    <label>Name:</label>\n" +
            "                    <input id=\"name\" type=\"text\" maxlength=\"255\" name=\"name\"\n" +
            "                           placeholder=\"Enter name\" class=\"form-control\">\n" +
            "                </div>\n" +
            "\n" +
            "                <div class=\"form-group mt-2\">\n" +
            "                    <label>Description:</label>\n" +
            "                    <textarea id=\"description\" maxlength=\"5000\" name=\"description\"\n" +
            "                              placeholder=\"Enter description\" class=\"form-control\"></textarea>\n" +
            "                </div>\n" +
            "\n" +
            "                <div class=\"form-group mt-2\">\n" +
            "                    <label>Photo:</label>\n" +
            "                    <input onchange='showImage()' id=\"file\" type=\"file\" name=\"photo\" class=\"form-control\">\n" +
            "                    <img  src=\"\" id=\"image\" style=\"height: 200px; display: none;\"/>\n" +
            "                </div>\n" +
            "\n" +
            "                <div class=\"d-flex flex-nowrap mt-2\">\n" +
            "                    <label class=\"m-1\">Active:</label>\n" +
            "                    <div class=\"form-check form-switch m-1\">\n" +
            "                        <input id=\"active\" type=\"checkbox\" name=\"active\" class=\"form-check-input\" checked=\"checked\" role=\"switch\">\n" +
            "                    </div>\n" +
            "                </div>\n" +
            "\n" +
            "                <div id=\"buttons\">\n" +
            "                    <button onclick=\"addSize()\" type=\"button\" class=\"btn btn-success mt-2\">Add size</button>\n" +
            "                </div>\n" +
            "                <div class=\"form-group mt-2\">\n" +
            "                    <label>Average price:</label>\n" +
            "                    <p id='averagePrice'></p>" +
            "                </div>\n" +
            "                <div id=\"size\">\n" +
            "                    <div id=\"row1\" class=\"row\">\n" +
            "                        <div class=\"col\">\n" +
            "                            <div class=\"form-group mt-2\">\n" +
            "                                <label>Size:</label>\n" +
            "                                <input id=\"size-name1\" type=\"text\" name=\"size-name1\"\n" +
            "                                       placeholder=\"Enter size (XS, S, M, L, XL)\" maxlength=\"255\" class=\"form-control\">\n" +
            "                            </div>\n" +
            "                        </div>\n" +
            "                        <div class=\"col\">\n" +
            "                            <div class=\"form-group mt-2\">\n" +
            "                                <label>Description:</label>\n" +
            "                                <input id='size-description1' type=\"text\" name=\"size-description1\"\n" +
            "                                       placeholder=\"Enter description to size (50ml, 100ml, 150ml)\"\n" +
            "                                       maxlength=\"255\" class=\"form-control\">\n" +
            "                            </div>\n" +
            "                        </div>\n" +
            "                        <div class=\"col\">\n" +
            "                            <div class=\"form-group mt-2\">\n" +
            "                                <label>Price:</label>\n" +
            "                                <input id=\"size-price1\" oninput='updateAveragePrice()' value='0' type=\"text\" name=\"size-price1\"\n" +
            "                                       placeholder=\"Enter price\" maxlength=\"20\" class=\"form-control\">\n" +
            "                            </div>\n" +
            "                        </div>\n" +
            "                    </div>\n" +
            "                </div>\n" +
            "                <button onclick=\"save('"  + style + "')\" type=\"button\" class=\"btn btn-success mt-2\">Save</button>\n" +
            "            </form>\n" +
            "        </div>"
        ));
        if(style === 'add'){
            updateAveragePrice();
        }
    }

    function closePopup(){
        modal.style.display = "none";
        for(countSize; countSize > 1;){
            deleteSize();
        }
        $("#popup").empty();
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            closePopup();
        }
    }

    function save(style){
        let tea = {
            name: '',
            description: '',
            photo: '',
            active: false,
            sizes: []
        }
        let formData = new FormData();
        let teaName = document.getElementById('name');
        if(validationInputTextEmpty(teaName)){
            return false;
        }
        let teaDescription = document.getElementById('description');
        if(validationInputTextEmpty(teaDescription)){
            return false;
        }
        let teaPhoto = document.getElementById("file");
        if(style === 'add') {
            if (validationInputFileEmpty(teaPhoto)) {
                return false;
            }
        }
        let teaActive = document.getElementById('active');
        tea.name = teaName.value;
        tea.description = teaDescription.value;
        tea.active = teaActive.checked;
        for(let i = 1; i <= countSize; i++){
            let size = {
                name: '',
                description: '',
                price: ''
            }
            let sizeName = document.getElementById('size-name' + i);
            if(validationInputTextEmpty(sizeName)){
                return false;
            }
            let sizeDescription = document.getElementById('size-description' + i);
            if(validationInputTextEmpty(sizeDescription)){
                return false;
            }
            let sizePrice = document.getElementById('size-price' + i);
            if(validationInputTextEmpty(sizePrice)){
                return false;
            }
            if(validationInputTextDouble(sizePrice)){
                return false;
            }
            size.name = sizeName.value;
            size.description = sizeDescription.value;
            size.price = sizePrice.value;
            size.price = (parseInt(size.price * 100)) / 100;
            tea.sizes.push(size);
        }
        formData.append('tea', JSON.stringify(tea));
        formData.append('file', teaPhoto.files[0]);
        if(style === 'add') {
            $.ajax({
                type: 'post',
                url: '../addTea',
                contentType: false,
                processData: false,
                data: formData,
                dataType: "json",
                success: function (success) {
                    updatePage(currentPage, sortingField, sortingDirection)
                    closePopup();
                    console.log(success + ' /addTea');
                },
                error: function () {
                    console.log('error /addTea');
                }
            });
        }

        if(style === 'edit') {
            formData.append('id', IdForUpdating);
            $.ajax({
                type: 'post',
                url: '../updateTea',
                contentType: false,
                processData: false,
                data: formData,
                dataType: "json",
                success: function (success) {
                    updatePage(currentPage, sortingField, sortingDirection)
                    closePopup();
                    console.log(success + ' /updateTea');
                },
                error: function () {
                    console.log('error /updateTea');
                }
            });
        }
    }

    function addSize(){
        if (countSize === 1) {
            $("#buttons").append($("<button id=\"delete-size\" type=\"button\" class=\"btn btn-danger mt-2\" onclick=\"deleteSize()\">Delete size</button>"));
        }
        if(countSize < 5){
            countSize++;
            $("#size").append($("" +
                "<div id=\"row" + countSize + "\" class=\"row\">" +
                "<div class=\"col\">" +
                "<div class=\"form-group mt-2\">" +
                "<label>Size:</label>" +
                "<input id=\"size-name" + countSize + "\" type=\"text\" name=\"size-name" +
                countSize + "\" placeholder=\"Enter size (XS, S, M, L, XL)\" maxlength=\"255\" class=\"form-control\">" +
                "</div>" +
                "</div>" +
                "<div class=\"col\">" +
                "<div class=\"form-group mt-2\">" +
                "<label>Description:</label>" +
                "<input id=\"size-description" + countSize + "\" type=\"text\" name=\"size-description" +
                countSize + "\" placeholder=\"Enter description to size (50ml, 100ml, 150ml)\" maxlength=\"255\" class=\"form-control\">" +
                "</div>" +
                "</div>" +
                "<div class=\"col\">" +
                "<div class=\"form-group mt-2\">" +
                "<label>Price:</label>" +
                "<input id=\"size-price" + countSize + "\" oninput='updateAveragePrice()' value='0' type=\"text\" name=\"size-price" +
                countSize + "\" placeholder=\"Enter price\" maxlength=\"20\" class=\"form-control\">" +
                "</div>" +
                "</div>" +
                "</div>"
            ));
            updateAveragePrice();
        }

    }

    function deleteSize() {
        if (countSize === 2) {
            document.getElementById('delete-size').remove();
        }
        if(countSize > 1){
            document.getElementById('row' + countSize).remove()
            countSize--;
            updateAveragePrice();
        }
    }

    function sort(field){
        if(sortingDirection === 'ASC'){
            sortingDirection = 'DESC';
        } else {
            sortingDirection = 'ASC';
        }
        sortingField = field;
        updatePage(currentPage, sortingField, sortingDirection);

    }

    function updatePage(currentPage, sortingField, sortingDirection){
        let data = {
            page: currentPage,
            field: sortingField,
            direction: sortingDirection
        }
        $.ajax({
            type: 'get',
            url: '../getTeas',
            data: data,
            dataType: "json",
            success: function (data){
                totalPage = data.totalPages;
                updateList(data)
                console.log('success /getTeas');
            },
            error: function() {
                console.log('error /getTeas');
            }
        });
    }

    function updateList(data) {
        $("#list").empty();
        data.content.forEach((tea) => {
            let averagePrice = 0;
            tea.sizes.forEach((size) =>{averagePrice += size.price;})
            averagePrice /= tea.sizes.length;
            let names = [];
            tea.sizes.forEach((size) =>{
                names.push(size.name);
            })
            $("#list").append($("" +
                "<tr>" +
                "<td>" +
                "<p>" + tea.id + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + tea.name + "</p>" +
                "</td>" +
                "<td>" +
                "<img style='height: 100px' src='" + url + tea.photo + "'>" +
                "</td>" +
                "<td>" +
                "<p>" + names + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + averagePrice.toFixed(2) + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + tea.active + "</p>" +
                "</td>" +
                "<td>" +
                "<button onclick='editForm(" + tea.id + ")' class=\"btn btn-warning\" type=\"button\">Edit</button>" +
                "</td>" +
                "<td>" +
                "<button onclick='deleteObject(" + tea.id + ")' class=\"btn btn-danger\" type=\"button\">Delete</button>" +
                "</td>" +
                "</tr>"

            ));
        })
        paginationButton();
    }

    function editForm(id){
        IdForUpdating = id;
        openPopup('edit');
        let data = { id: id };
        $.ajax({
            type: 'get',
            url: '../getTeaById',
            data: data,
            dataType: "json",
            success: function (tea){
                console.log('success /getTeaById');
                let teaName = document.getElementById('name');
                teaName.value = tea.name;
                let teaDescription = document.getElementById('description');
                teaDescription.value = tea.description;
                let teaActive = document.getElementById('active');
                teaActive.checked = tea.active;
                let image = document.getElementById("image");
                image.src = url + tea.photo;
                image.style.display = "block";
                for(let i = 1; i <= tea.sizes.length; i++){
                    if(i > 1){
                        addSize();
                    }
                    let sizeName = document.getElementById('size-name' + i)
                    sizeName.value = tea.sizes[i-1].name;
                    let sizeDescription = document.getElementById('size-description' + i)
                    sizeDescription.value = tea.sizes[i-1].description;
                    let sizePrise = document.getElementById('size-price' + i)
                    sizePrise.value = tea.sizes[i-1].price;
                }
                updateAveragePrice();
            },
            error: function() {
                console.log('error /getTeaById');
            }
        });
    }

    function deleteObject(id){
        let data = { id: id };
        $.ajax({
            type: 'post',
            url: '../deleteTeaById',
            data: data,
            dataType: "json",
            success: function (success){
                console.log(success + ' /deleteTeaById');
                updatePage(currentPage, sortingField, sortingDirection)
            },
            error: function() {
                console.log('error /deleteTeaById');
            }
        });
    }

    function updateAveragePrice(){
        let averagePrice = document.getElementById("averagePrice");
        let average = 0;
        for(let i = 1; i <= countSize; i++) {
            let sizePrise = document.getElementById('size-price' + i)
            average += (parseInt(sizePrise.value * 100)) / 100;
        }
        average /= countSize;
        average = (parseInt(average * 100)) / 100;
        console.log(average);
        averagePrice.innerHTML = average;
    }

    function paginationButton(){
        $("#choose-page").empty();
        if(totalPage > 1){
            // $("#choose-page").append($("<ul class=\"pagination\">"));
            if(currentPage !== 1){
                $("#choose-page").append($("" +
                    "<div class=\"col\">" +
                    "<button onclick='goFirstPage()' class=\"btn btn-primary\" style='height: 50px'>First</button>" +
                    "</div>" +
                    "<div class=\"col\">" +
                    "<button onclick='goPreviousPage()' class=\"btn btn-primary\" style='height: 50px'>Previous</a>" +
                    "</div>"
                ));
            }
            let start = currentPage - 2;
            let finish = currentPage + 2;
            for(let i = start; i <= finish; i++) {
                if(i > 0 && i <= totalPage) {
                    $("#choose-page").append($("" +
                        "<div class=\"col\">" +
                        "<button onclick='goToPage(" + i + ")' class=\"btn btn-primary\" style='height: 50px; width: 50px'>" + i + "</button>" +
                        "</div>"
                    ));
                }
            }
            if(currentPage !== totalPage) {
                $("#choose-page").append($("" +
                    "<div class=\"col\">" +
                    "<button onclick='goNextPage()' class=\"btn btn-primary\" style='height: 50px'>Next</button>" +
                    "</div>" +
                    "<div class=\"col\">" +
                    "<button onclick='goLastPage()' class=\"btn btn-primary\" style='height: 50px'>Last</button>" +
                    "</div>"
                ));
            }
            // $("#choose-page").append($("</ul>"));
        }
    }

    function goFirstPage(){
        currentPage = 1;
        updatePage(currentPage, sortingField, sortingDirection);
    }
    function goPreviousPage(){
        currentPage--;
        updatePage(currentPage, sortingField, sortingDirection)
    }
    function goToPage(i){
        currentPage = i;
        updatePage(currentPage, sortingField, sortingDirection)
    }
    function goNextPage(){
        currentPage++;
        updatePage(currentPage, sortingField, sortingDirection)
    }
    function goLastPage(){
        currentPage = totalPage;
        updatePage(currentPage, sortingField, sortingDirection)
    }
</script>

</main>
</body>
</html>