<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admins</title>

  <style th:replace="blocks/linkAdminLTE"></style>
  <div th:replace="blocks/links-bootstrap"></div>
  <link rel="stylesheet" th:href="@{/css/popup.css}">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <div th:replace="blocks/navbar"></div>
  <div th:replace="blocks/sidebarContainer"></div>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <div class="content-header">
      <div class="container-fluid">
        <h1 class="m-0">Admins</h1>
      </div>
    </div>
    <!-- Main content -->
    <section class="content">
      <button onclick="openPopup('add')" class="btn btn-success popup-with-form">Add</button>
      <table class="table">
        <thead>
        <tr>
          <th onclick="sort('id')" scope="col">Id</th>
          <th onclick="sort('username')" scope="col">Name</th>
          <th onclick="sort('registrationDate')" scope="col">Registration Date</th>
          <th scope="col">Active</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody id="list">
        <!-- list -->
        </tbody>
      </table>
      <div id="choose-page" class="row" style="width: 40%;" >
        <!-- pagination button -->
      </div>
    </section>
  </div>
  <div id="popup" class="modal">
    <!-- popup -->
  </div>
</div>

<div th:replace="blocks/scriptAdminLTE"></div>
<script th:src="@{/js/validation.js}"></script>

<script>
  let modal = document.getElementById("popup");

  let currentPage = 1;
  let sortingField = 'id';
  let sortingDirection = 'ASC';  // DESC

  let totalPage;
  let IdForUpdating;

  let Admin = {};

  $(document).ready(function() {
    updatePage(currentPage, sortingField, sortingDirection);
  });

  function openPopup(style){
    modal.style.display = "block";
    $("#popup").append($(
            "<div class=\"modal-content\">\n" +
            "            <span onclick=\"closePopup()\" class=\"close\">&times;</span>\n" +
            "            <form id=\"add-form\" class=\"mt-2\">\n" +
            "                <div class=\"form-group mt-2\">\n" +
            "                    <label>Username:</label>\n" +
            "                    <input id=\"username\" type=\"text\" maxlength=\"30\" name=\"username\"\n" +
            "                           placeholder=\"Enter username\" class=\"form-control\">\n" +
            "                </div>\n" +
            "                <div class=\"form-group mt-2\">\n" +
            "                    <label>Password:</label>\n" +
            "                    <input id=\"password\" type=\"text\" maxlength=\"30\" name=\"password\"\n" +
            "                           placeholder=\"Enter password\" class=\"form-control\">\n" +
            "                </div>\n" +
            "                <div class=\"d-flex flex-nowrap mt-2\">\n" +
            "                    <label class=\"m-1\">Active:</label>\n" +
            "                    <div class=\"form-check form-switch m-1\">\n" +
            "                        <input id=\"active\" type=\"checkbox\" name=\"active\" class=\"form-check-input\" checked=\"checked\" role=\"switch\">\n" +
            "                    </div>\n" +
            "                </div>\n" +
            "                <button onclick=\"save('"  + style + "')\" type=\"button\" class=\"btn btn-success mt-2\">Save</button>\n" +
            "            </form>\n" +
            "        </div>"));
  }

  function closePopup(){
    modal.style.display = "none";
    $("#popup").empty();
  }

  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
      $("#popup").empty();
    }
  }

  function save(style){
    let admin = {
      username: '',
      password: '',
      active: false
    }
    let adminName = document.getElementById('username');
    if(validationInputTextEmpty(adminName)){
      return false;
    }
    let adminPassword = document.getElementById('password');
    if(style === 'add') {
      if(validationInputCheckUniqueUsername(adminName)){
        return false;
      }
      if (validationInputTextEmpty(adminPassword)) {
        return false;
      }
    }
    if(style === 'edit') {
      if(Admin.username !== adminName.value){
        if(validationInputCheckUniqueUsername(adminName)){
          return false;
        }
      }
    }
    let adminActive = document.getElementById('active');
    admin.username = adminName.value;
    admin.active = adminActive.checked;
    if(style === 'add') {
      admin.password = adminPassword.value;
      $.ajax({
        type: 'post',
        url: '../addAdmin',
        data: admin,
        dataType: "json",
        success: function (success) {
          updatePage(currentPage, sortingField, sortingDirection)
          closePopup();
          console.log(success + ' /addAdmin');
        },
        error: function () {
          console.log('error /addAdmin');
        }
      });
    }

    if(style === 'edit') {
      console.log(adminPassword.value);
      if(adminPassword.value !== "") {
        console.log(adminPassword.value);
        admin.password = adminPassword.value;
      }
      admin.id = IdForUpdating;
      $.ajax({
        type: 'post',
        url: '../updateAdmin',
        data: admin,
        dataType: "json",
        success: function (success) {
          updatePage(currentPage, sortingField, sortingDirection)
          closePopup();
          console.log(success + ' /updateAdmin');
        },
        error: function () {
          console.log('error /updateAdmin');
        }
      });
    }
  }

  function sort(field){
    if(sortingDirection === 'ASC'){
      sortingDirection = 'DESC';
    } else {
      sortingDirection = 'ASC';
    }
    sortingField = field;
    updatePage(currentPage, sortingField, sortingDirection);
  }

  function updatePage(currentPage, sortingField, sortingDirection){
    let data = {
      page: currentPage,
      field: sortingField,
      direction: sortingDirection
    }
    $.ajax({
      type: 'get',
      url: '../getAdmins',
      data: data,
      dataType: "json",
      success: function (data){
        totalPage = data.totalPages;
        updateList(data)
        console.log('success /getAdmins');
      },
      error: function() {
        console.log('error /getAdmins');
      }
    });
  }

  function updateList(data) {
    $("#list").empty();
    data.content.forEach((admin) => {
      $("#list").append($("" +
              "<tr>" +
              "<td>" +
              "<p>" + admin.id + "</p>" +
              "</td>" +
              "<td>" +
              "<p>" + admin.username + "</p>" +
              "</td>" +
              "<td>" +
              "<p>" + admin.registrationDate + "</p>" +
              "</td>" +
              "<td>" +
              "<p>" + admin.active + "</p>" +
              "</td>" +
              "<td>" +
              "<button onclick='editForm(" + admin.id + ")' class=\"btn btn-warning\" type=\"button\">Edit</button>" +
              "</td>" +
              "<td>" +
              "<button onclick='deleteObject(" + admin.id + ")' class=\"btn btn-danger\" type=\"button\">Delete</button>" +
              "</td>" +
              "</tr>"
      ));
    })
    paginationButton();
  }

  function editForm(id){
    IdForUpdating = id;
    openPopup('edit');
    let data = { id: id };
    $.ajax({
      type: 'get',
      url: '../getAdminById',
      data: data,
      dataType: "json",
      success: function (admin){
        Admin = admin;
        console.log('success /getAdminById');
        let adminName = document.getElementById('username');
        adminName.value = admin.username;
        let adminActive = document.getElementById('active');
        adminActive.checked = admin.active;
      },
      error: function() {
        console.log('error /getAdminById');
      }
    });
  }

  function deleteObject(id){
    let data = { id: id };
    $.ajax({
      type: 'post',
      url: '../deleteAdminById',
      data: data,
      dataType: "json",
      success: function (success){
        if(success !== 'success'){
          alert(success);
        }
        console.log(success + ' /deleteAdminById');
        updatePage(currentPage, sortingField, sortingDirection)
      },
      error: function() {
        console.log('error /deleteAdminById');
      }
    });
  }

  function paginationButton(){
    $("#choose-page").empty();
    if(totalPage > 1){
      // $("#choose-page").append($("<ul class=\"pagination\">"));
      if(currentPage !== 1){
        $("#choose-page").append($("" +
                "<div class=\"col\">" +
                "<button onclick='goFirstPage()' class=\"btn btn-primary\" style='height: 50px'>First</button>" +
                "</div>" +
                "<div class=\"col\">" +
                "<button onclick='goPreviousPage()' class=\"btn btn-primary\" style='height: 50px'>Previous</a>" +
                "</div>"
        ));
      }
      let start = currentPage - 2;
      let finish = currentPage + 2;
      for(let i = start; i <= finish; i++) {
        if(i > 0 && i <= totalPage) {
          $("#choose-page").append($("" +
                  "<div class=\"col\">" +
                  "<button onclick='goToPage(" + i + ")' class=\"btn btn-primary\" style='height: 50px; width: 50px'>" + i + "</button>" +
                  "</div>"
          ));
        }
      }
      if(currentPage !== totalPage) {
        $("#choose-page").append($("" +
                "<div class=\"col\">" +
                "<button onclick='goNextPage()' class=\"btn btn-primary\" style='height: 50px'>Next</button>" +
                "</div>" +
                "<div class=\"col\">" +
                "<button onclick='goLastPage()' class=\"btn btn-primary\" style='height: 50px'>Last</button>" +
                "</div>"
        ));
      }
      // $("#choose-page").append($("</ul>"));
    }
  }

  function goFirstPage(){
    currentPage = 1;
    updatePage(currentPage, sortingField, sortingDirection);
  }

  function goPreviousPage(){
    currentPage--;
    updatePage(currentPage, sortingField, sortingDirection)
  }

  function goToPage(i){
    currentPage = i;
    updatePage(currentPage, sortingField, sortingDirection)
  }
  function goNextPage(){
    currentPage++;
    updatePage(currentPage, sortingField, sortingDirection)
  }
  function goLastPage(){
    currentPage = totalPage;
    updatePage(currentPage, sortingField, sortingDirection)
  }
</script>

</main>
</body>
</html>