<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Feedback</title>

    <style th:replace="blocks/linkAdminLTE"></style>
    <div th:replace="blocks/links-bootstrap"></div>
    <link rel="stylesheet" th:href="@{/css/popup.css}">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <div th:replace="blocks/navbar"></div>
    <div th:replace="blocks/sidebarContainer"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <h1 class="m-0">Feedback</h1>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <table class="table">
                <thead>
                <tr>
                    <th onclick="sort('id')" scope="col">Id</th>
                    <th onclick="sort('name')" scope="col">Name</th>
                    <th onclick="sort('phone')" scope="col">Phone</th>
                    <th onclick="sort('email')" scope="col">Email</th>
                    <th onclick="sort('status')" scope="col">Status</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody id="list">
                <!-- list -->
                </tbody>
            </table>
            <div id="choose-page" class="row" style="width: 40%;" >
                <!-- pagination button -->
            </div>
        </section>
    </div>
    <div id="popup" class="modal">
        <!-- popup -->
    </div>
</div>

<div th:replace="blocks/scriptAdminLTE"></div>
<script th:src="@{/js/validation.js}"></script>

<script>
    let context = window.location.pathname.substring(0, window.location.pathname.indexOf("/",1));
    let url = window.location.protocol+"//"+ window.location.host + context;
    console.log('url: ' + url)
    
    let modal = document.getElementById("popup");

    let currentPage = 1;
    let sortingField = 'id';
    let sortingDirection = 'ASC';  // DESC

    let totalPage;
    let IdForUpdating;

    $(document).ready(function() {
        updatePage(currentPage, sortingField, sortingDirection);
    });

    function openPopup(){
        modal.style.display = "block";
        $("#popup").append($(
            "<div class=\"modal-content\">\n" +
            "            <span onclick=\"closePopup()\" class=\"close\">&times;</span>\n" +
            "            <form id=\"add-form\" class=\"mt-2\">\n" +
            "                <div class=\"form-group mt-2\">\n" +
            "                    <label>Name:</label>\n" +
            "                    <input id=\"name\" type=\"text\" maxlength=\"40\" name=\"name\"\n" +
            "                           placeholder=\"Enter name\" class=\"form-control\">\n" +
            "                    <p id='nameMessage' style=\"color: red\"></p>" +
            "                </div>\n" +
            "                <div class=\"form-group mt-2\">\n" +
            "                    <label>Phone:</label>\n" +
            "                    <input id=\"phone\" type=\"text\" maxlength=\"10\" name=\"phone\"\n" +
            "                           placeholder=\"Enter phone\" class=\"form-control\">\n" +
            "                    <p id='phoneMessage' style=\"color: red\"></p>" +
            "                </div>\n" +
            "                <div class=\"form-group mt-2\">\n" +
            "                    <label>Email:</label>\n" +
            "                    <input id=\"email\" type=\"text\" maxlength=\"100\" name=\"email\"\n" +
            "                           placeholder=\"Enter email\" class=\"form-control\">\n" +
            "                    <p id='emailMessage' style=\"color: red\"></p>" +
            "                </div>\n" +
            "                <div class=\"form-group mt-2\">\n" +
            "                   <label>Status:</label>\n" +
            "                   <div id=\"chose\" class=\"form-check\">\n" +
            "                       <input class=\"form-check-input\" type=\"radio\" name=\"flexRadioDefault\" id='reviewed'>\n" +
            "                       <label class=\"form-check-label\" for=\"reviewed\">Reviewed</label>\n" +
            "                   </div>\n" +
            "                   <div id=\"all\" class=\"form-check\">\n" +
            "                       <input class=\"form-check-input\" type=\"radio\" name=\"flexRadioDefault\" id='unwatched'>\n" +
            "                       <label class=\"form-check-label\" for=\"unwatched\">Unwatched</label>\n" +
            "                   </div>"+
            "                </div>\n" +
            "                <button onclick=\"save()\" type=\"button\" class=\"btn btn-success mt-2\">Save</button>\n" +
            "            </form>\n" +
            "        </div>"));
    }

    function closePopup(){
        modal.style.display = "none";
        $("#popup").empty();
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
            $("#popup").empty();
        }
    }

    function save(){
        let feedback = {};
        let name = document.getElementById('name');
        let phone = document.getElementById('phone');
        let email = document.getElementById('email');
        let reviewed = document.getElementById('reviewed');

        feedback.name = name.value;
        feedback.phone = phone.value;
        feedback.email = email.value;
        if(reviewed.checked === true){
            feedback.status = 'Reviewed';
        } else {
            feedback.status = 'Unwatched';
        }
        feedback.id = IdForUpdating;
        $.ajax({
            type: 'post',
            url: url + '/updateFeedback',
            data: JSON.stringify(feedback),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log('success /updateFeedback');
                let validation = JSON.parse(data);
                if (validation == null) {
                    updatePage(currentPage, sortingField, sortingDirection)
                    closePopup();
                } else {
                    validationMessage(validation);
                }
            },
            error: function () {
                console.log('error /updateFeedback');
            }
        });
    }

    function validationMessage(validation){
        if(validation?.name ?? false){
            document.getElementById('nameMessage').innerHTML = validation.name;
            document.getElementById('name').style.border = "1px solid red";
        }else {
            document.getElementById('nameMessage').innerHTML = "";
            document.getElementById('name').style.border = "1px solid green";
        }
        if(validation?.phone ?? false){
            document.getElementById('phoneMessage').innerHTML = validation.phone;
            document.getElementById('phone').style.border = "1px solid red";
        }else {
            document.getElementById('phoneMessage').innerHTML = "";
            document.getElementById('phone').style.border = "1px solid green";
        }
        if(validation?.email ?? false){
            document.getElementById('emailMessage').innerHTML = validation.email;
            document.getElementById('email').style.border = "1px solid red";
        }else {
            document.getElementById('emailMessage').innerHTML = "";
            document.getElementById('email').style.border = "1px solid green";
        }
    }

    function sort(field){
        if(sortingDirection === 'ASC'){
            sortingDirection = 'DESC';
        } else {
            sortingDirection = 'ASC';
        }
        sortingField = field;
        updatePage(currentPage, sortingField, sortingDirection);

    }

    function updatePage(currentPage, sortingField, sortingDirection){
        let data = {
            page: currentPage,
            field: sortingField,
            direction: sortingDirection
        }
        $.ajax({
            type: 'get',
            url: url + '/getFeedbacks',
            data: data,
            dataType: "json",
            success: function (data){
                totalPage = data.totalPages;
                updateList(data)
                console.log('success /getFeedbacks');
            },
            error: function() {
                console.log('error /getFeedbacks');
            }
        });
    }

    function updateList(data) {
        $("#list").empty();
        data.content.forEach((feedback) => {
            $("#list").append($("" +
                "<tr>" +
                "<td>" +
                "<p>" + feedback.id + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + feedback.name + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + feedback.phone + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + feedback.email + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + feedback.status + "</p>" +
                "</td>" +
                "<td>" +
                "<button onclick='editForm(" + feedback.id + ")' class=\"btn btn-warning\" type=\"button\">Edit</button>" +
                "</td>" +
                "<td>" +
                "<button onclick='deleteObject(" + feedback.id + ")' class=\"btn btn-danger\" type=\"button\">Delete</button>" +
                "</td>" +
                "</tr>"
            ));
        })
        paginationButton();
    }

    function editForm(id){
        IdForUpdating = id;
        openPopup('edit');
        let data = { id: id };
        $.ajax({
            type: 'get',
            url: url + '/getFeedbackById',
            data: data,
            dataType: "json",
            success: function (feedback){
                console.log('success /getFeedbackById');
                let name = document.getElementById('name');
                name.value = feedback.name;
                let phone = document.getElementById('phone');
                phone.value = feedback.phone;
                let email = document.getElementById('email');
                email.value = feedback.email;
                let reviewed = document.getElementById('reviewed');
                let unwatched = document.getElementById('unwatched');
                if(feedback.status === 'Unwatched'){
                    unwatched.checked = true;
                } else {
                    reviewed.checked = true;
                }
            },
            error: function() {
                console.log('error /getAdminById');
            }
        });


    }

    function deleteObject(id){
        let data = { id: id };
        $.ajax({
            type: 'post',
            url: url + '/deleteFeedbackById',
            data: data,
            dataType: "json",
            success: function (success){
                console.log(success + ' /deleteFeedbackById');
                updatePage(currentPage, sortingField, sortingDirection)
            },
            error: function() {
                console.log('error /deleteFeedbackById');
            }
        });
    }

    function paginationButton(){
        $("#choose-page").empty();
        if(totalPage > 1){
            // $("#choose-page").append($("<ul class=\"pagination\">"));
            if(currentPage !== 1){
                $("#choose-page").append($("" +
                    "<div class=\"col\">" +
                    "<button onclick='goFirstPage()' class=\"btn btn-primary\" style='height: 50px'>First</button>" +
                    "</div>" +
                    "<div class=\"col\">" +
                    "<button onclick='goPreviousPage()' class=\"btn btn-primary\" style='height: 50px'>Previous</a>" +
                    "</div>"
                ));
            }
            let start = currentPage - 2;
            let finish = currentPage + 2;
            for(let i = start; i <= finish; i++) {
                if(i > 0 && i <= totalPage) {
                    $("#choose-page").append($("" +
                        "<div class=\"col\">" +
                        "<button onclick='goToPage(" + i + ")' class=\"btn btn-primary\" style='height: 50px; width: 50px'>" + i + "</button>" +
                        "</div>"
                    ));
                }
            }
            if(currentPage !== totalPage) {
                $("#choose-page").append($("" +
                    "<div class=\"col\">" +
                    "<button onclick='goNextPage()' class=\"btn btn-primary\" style='height: 50px'>Next</button>" +
                    "</div>" +
                    "<div class=\"col\">" +
                    "<button onclick='goLastPage()' class=\"btn btn-primary\" style='height: 50px'>Last</button>" +
                    "</div>"
                ));
            }
            // $("#choose-page").append($("</ul>"));
        }
    }

    function goFirstPage(){
        currentPage = 1;
        updatePage(currentPage, sortingField, sortingDirection);
    }

    function goPreviousPage(){
        currentPage--;
        updatePage(currentPage, sortingField, sortingDirection)
    }

    function goToPage(i){
        currentPage = i;
        updatePage(currentPage, sortingField, sortingDirection)
    }
    function goNextPage(){
        currentPage++;
        updatePage(currentPage, sortingField, sortingDirection)
    }
    function goLastPage(){
        currentPage = totalPage;
        updatePage(currentPage, sortingField, sortingDirection)
    }
</script>

</main>
</body>
</html>