<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Order</title>

    <style th:replace="blocks/linkAdminLTE"></style>
    <div th:replace="blocks/links-bootstrap"></div>
    <link rel="stylesheet" th:href="@{/css/popup.css}">
    <link rel="stylesheet" th:href="@{/css/tableSort.css}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <div th:replace="blocks/navbar"></div>
    <div th:replace="blocks/sidebarContainer"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <h1 class="m-0">Order</h1>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" style="cursor: pointer;">
                        <label>
                            <input id="searchId" oninput="search()" type="text" maxlength="20" class="form-control" style="width: 60px">
                        </label>
                        <div onclick="sort(this, 'id')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Id</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col" style="cursor: pointer;">
                        <label>
                            <input id="searchName" oninput="search()" type="text" maxlength="20" class="form-control" style="width: 60px">
                        </label>
                        <div onclick="sort(this, 'user.name')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">User</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col" style="cursor: pointer;">
                        <label>
                            <input id="searchDateStart" oninput="search()" type="date" class="form-control" style="width: 65px">
                        </label>
                        <label>
                            <input id="searchDateFin" oninput="search()" type="date" class="form-control" style="width: 65px">
                        </label>
                        <div onclick="sort(this, 'date')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Date</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col" style="cursor: pointer;">
                        <label>
                            <input id="searchTimeStart" oninput="search()" type="time" class="form-control" style="width: 65px">
                        </label>
                        <label>
                            <input id="searchTimeFin" oninput="search()" type="time" class="form-control" style="width: 65px">
                        </label>
                        <div onclick="sort(this, 'time')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Time</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col" style="cursor: pointer;">
                        <label>
                            <input id="searchCity" oninput="search()" type="text" maxlength="20" class="form-control" style="width: 60px">
                        </label>
                        <div onclick="sort(this, 'city.name')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">City</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col" style="cursor: pointer;">
                        <label>
                            <input id="searchHome" oninput="search()" type="text" maxlength="20" class="form-control" style="width: 60px">
                        </label>
                        <div onclick="sort(this, 'home')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Home</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col" style="cursor: pointer;">
                        <label>
                            <input id="searchEntrance" oninput="search()" type="text" maxlength="20" class="form-control" style="width: 60px">
                        </label>
                        <div onclick="sort(this, 'entrance')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Entrance</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col" style="cursor: pointer;">
                        <label>
                            <input id="searchFlat" oninput="search()" type="text" maxlength="20" class="form-control" style="width: 60px">
                        </label>
                        <div onclick="sort(this, 'flat')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Flat</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col">Coffees</th>
                    <th scope="col">Teas</th>
                    <th scope="col">Desserts</th>
                    <th scope="col">Sandwiches</th>
                    <th scope="col">Snacks</th>
                    <th scope="col">Total price</th>
                    <th scope="col">Info</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody id="list">
                <!-- list -->
                </tbody>
            </table>

            <nav>
                <ul id="choose-page" class="pagination">
                    <!-- pagination buttons -->
                </ul>
            </nav>
        </section>
    </div>

    <div id="popup" class="modal">
        <!-- popup -->
    </div>
</div>
<div th:replace="blocks/scriptAdminLTE"></div>
<script th:src="@{/js/validation.js}"></script>

<script>
    let context = window.location.pathname.substring(0, window.location.pathname.indexOf("/",1));
    let url = window.location.protocol+"//"+ window.location.host + context;

    let modal = document.getElementById("popup");

    let currentPage = 1;
    let sortingField = 'id';
    let sortingDirection = 'ASC';  // DESC

    let searchId = "";
    let searchName = "";
    let searchDateStart = "";
    let searchDateFin = "";
    let searchTimeStart = "";
    let searchTimeFin = "";
    let searchCity = "";
    let searchHome = "";
    let searchEntrance = "";
    let searchFlat = "";

    let totalPage;

    $(document).ready(function() {
        search();
    });

    function validationMaxLength(element) {
        if(element.value.length == element.maxLength){
            toastr.info('The maximum text length is ' + element.maxLength);
        }
    }

    function sort(element, field){
        $("th > div > div").each(function(i, item){
            $(item).removeClass("triangle-desc triangle-asc");
        });
        let triangle = $(element).children('div');
        if(sortingDirection === 'ASC'){
            sortingDirection = 'DESC';
            $(triangle[0]).addClass("triangle-desc");
        } else {
            sortingDirection = 'ASC';
            $(triangle[0]).addClass("triangle-asc");
        }
        sortingField = field;
        updatePage();
    }

    function search(){
        let id = document.getElementById('searchId');
        searchId = id.value;
        let name = document.getElementById('searchName');
        searchName = name.value;
        searchDateStart = document.getElementById('searchDateStart').value;
        searchDateFin = document.getElementById('searchDateFin').value;
        searchTimeStart = document.getElementById('searchTimeStart').value;
        searchTimeFin = document.getElementById('searchTimeFin').value;
        let city = document.getElementById('searchCity');
        searchCity = city.value;
        let home = document.getElementById('searchHome');
        searchHome = home.value;
        let entrance = document.getElementById('searchEntrance');
        searchEntrance = entrance.value;
        let flat = document.getElementById('searchFlat');
        searchFlat = flat.value;
        updatePage()
    }

    function updatePage(){
        let data = {
            page: currentPage,
            field: sortingField,
            direction: sortingDirection,
            id: searchId,
            name: searchName,
            dateStart: searchDateStart,
            dateFin: searchDateFin,
            timeStart: searchTimeStart,
            timeFin: searchTimeFin,
            city: searchCity,
            home: searchHome,
            entrance: searchEntrance,
            flat: searchFlat
        }
        $.ajax({
            type: 'get',
            url: url + '/getOrders',
            data: data,
            dataType: "json",
            success: function (data){
                totalPage = data.totalPages;
                if(currentPage > totalPage && currentPage > 1){
                    currentPage = totalPage;
                    updatePage();
                }
                updateList(data)
                console.log('success /getObjects');
            },
            error: function() {
                console.log('error /getOrders');
            }
        });
    }

    function updateList(data) {
        console.log(data);
        $("#list").empty();
        data.content.forEach((order) => {
            let OrderPrice = 0;
            order.coffeeOrder.forEach((coffeeOrder) =>{
                let coffeePrice = 0;
                coffeePrice += coffeeOrder?.size?.price ?? 0;
                coffeePrice += coffeeOrder?.alcohol?.price ?? 0;
                coffeePrice += coffeeOrder?.syrup?.price ?? 0;
                coffeePrice += coffeeOrder?.milk?.price ?? 0;
                coffeePrice += coffeeOrder?.supplement?.price ?? 0;
                coffeePrice *= coffeeOrder?.count;
                OrderPrice += coffeePrice;
                console.log("coffeePrice: " + coffeePrice);
            });
            order.teaOrder.forEach((teaOrder) =>{
                let teaPrice = 0;
                teaPrice += teaOrder?.size?.price ?? 0;
                teaPrice += teaOrder?.syrup?.price ?? 0;
                teaPrice += teaOrder?.milk?.price ?? 0;
                teaPrice += teaOrder?.supplement?.price ?? 0;
                teaPrice *= teaOrder?.count;
                OrderPrice += teaPrice;
                console.log("teaPrice: " + teaPrice);
            });
            order.dessertOrder.forEach((dessertOrder) =>{
                let dessertPrice = 0;
                dessertPrice += dessertOrder?.size?.price ?? 0;
                dessertPrice += dessertOrder?.syrup?.price ?? 0;
                dessertPrice += dessertOrder?.supplement?.price ?? 0;
                dessertPrice *= dessertOrder?.count;
                OrderPrice += dessertPrice;
                console.log("dessertPrice: " + dessertPrice);
            });
            order.sandwichOrder.forEach((sandwichOrder) =>{
                let sandwichPrice = 0;
                sandwichPrice += sandwichOrder?.size?.price ?? 0;
                sandwichPrice += sandwichOrder?.sauce?.price ?? 0;
                sandwichPrice += sandwichOrder?.supplement?.price ?? 0;
                sandwichPrice *= sandwichOrder?.count;
                OrderPrice += sandwichPrice;
                console.log("sandwichPrice: " + sandwichPrice);
            });
            order.snackOrder.forEach((snackOrder) =>{
                let snackPrice = 0;
                snackPrice += snackOrder?.size?.price ?? 0;
                snackPrice += snackOrder?.sauce?.price ?? 0;
                snackPrice += snackOrder?.supplement?.price ?? 0;
                snackPrice *= snackOrder?.count;
                OrderPrice += snackPrice;
                console.log("snackPrice: " + snackPrice);
            });
            OrderPrice = roundPlus(OrderPrice, 2);
            let city = order.city?.name ?? "not selected";
            let user = order.user?.name ?? "not selected";
            let home = (order.home == null) ? "not selected" : order.home;
            let entrance = (order.entrance == null) ? "not selected" : order.entrance;
            let flat = (order.flat == null) ? "not selected" : order.flat;
            console.log("coffeeOrderPrice: " + OrderPrice);
            $("#list").append($("" +
                "<tr>" +
                "<td>" +
                "<p>" + order.id + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + user + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + moment(order.date).format('YYYY-MM-DD') + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + moment(order.time).format('hh:mm') + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + city + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + home + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + entrance + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + flat + "</p>" +
                "</td>" +
                "<td>" +
                "<form method='get' action='" + url + "/coffeeOrder' enctype=\"multipart/form-data\">" +
                    "<input type='number' value='" + order.id + "' name='orderId' style='display: none'>"+
                    "<button type=\"submit\" class=\"btn btn-info\" >Info</button>" +
                "</form>" +
                "</td>" +
                "<td>" +
                "<form method='get' action='" + url + "/teaOrder' enctype=\"multipart/form-data\">" +
                    "<input type='number' value='" + order.id + "' name='orderId' style='display: none'>"+
                    "<button type=\"submit\" class=\"btn btn-info\" >Info</button>" +
                "</form>" +
                "</td>" +
                "<td>" +
                "<form method='get' action='" + url + "/dessertOrder' enctype=\"multipart/form-data\">" +
                    "<input type='number' value='" + order.id + "' name='orderId' style='display: none'>"+
                    "<button type=\"submit\" class=\"btn btn-info\" >Info</button>" +
                "</form>" +
                "</td>" +
                "<td>" +
                "<form method='get' action='" + url + "/sandwichOrder' enctype=\"multipart/form-data\">" +
                    "<input type='number' value='" + order.id + "' name='orderId' style='display: none'>"+
                    "<button type=\"submit\" class=\"btn btn-info\" >Info</button>" +
                "</form>" +
                "</td>" +
                "<td>" +
                "<form method='get' action='" + url + "/snackOrder' enctype=\"multipart/form-data\">" +
                    "<input type='number' value='" + order.id + "' name='orderId' style='display: none'>"+
                    "<button type=\"submit\" class=\"btn btn-info\" >Info</button>" +
                "</form>" +
                "</td>" +
                "<td>" +
                "<p>" + OrderPrice + "</p>" +
                "</td>" +
                "<td>" +
                "<button onclick='openPopup(" + order.id + ")' class='btn btn-primary' >All Info</button>" +
                "</td>" +
                "<td>" +
                "<button onclick='deleteObject(" + order.id + ")' class=\"btn btn-danger\" type=\"button\">Delete</button>" +
                "</td>" +
                "</tr>"
            ));
        })
        paginationButton();
    }

    function roundPlus(x, n) { //x - число, n - количество знаков
        if(isNaN(x) || isNaN(n)) return false;
        let m = Math.pow(10,n);
        return Math.round(x*m)/m;
    }

    function openPopup(id){
        let data = { id: id };
        $.ajax({
            type: 'get',
            url: url + '/getOrderById',
            data: data,
            dataType: "json",
            success: function (order){
                console.log(order);
                console.log('success /getOrderById');
                let city = order.city?.name ?? "not selected";
                let user = order.user?.name ?? "not selected";
                let home = (order.home == null) ? "not selected" : order.home;
                let entrance = (order.entrance == null) ? "not selected" : order.entrance;
                let flat = (order.flat == null) ? "not selected" : order.flat;
                let paymentForm = order?.paymentForm?.name ?? "not selected";
                let prepareCash = (order.prepareCash == null) ? "not selected" : order.prepareCash;
                let comment = (order.comment == null) ? "not selected" : order.comment;
                modal.style.display = "block";
                $("#popup").append($(
                    "<div class=\"modal-content\">\n" +
                    "          <span onclick=\"closePopup()\" class=\"close\">&times;</span>\n" +
                    "               <div style='margin: 20px' class=\"form-group mt-2\">\n" +
                    "                   <label>User:</label>\n" +
                    "                   <p style='margin: 0px'>" + user + "</p>" +
                    "               </div>\n" +
                    "               <div style='margin: 20px' class=\"form-group mt-2\">\n" +
                    "                   <label>Date:</label>\n" +
                    "                   <p style='margin: 0px'>" + moment(order.date).format('YYYY-MM-DD') + "</p>" +
                    "               </div>\n" +
                    "               <div style='margin: 20px' class=\"form-group mt-2\">\n" +
                    "                   <label>Time:</label>\n" +
                    "                   <p style='margin: 0px'>" + moment(order.time).format('hh:mm') + "</p>" +
                    "               </div>\n" +
                    "               <div style='margin: 20px' class='row'>" +
                    "                   <div class='col'" +
                    "                       <div class=\"form-group mt-2\">\n" +
                    "                           <label>City:</label>\n" +
                    "                           <p style='margin: 0px'>" + city + "</p>" +
                    "                       </div>\n" +
                    "                   <div class='col'" +
                    "                       <div class=\"form-group mt-2\">\n" +
                    "                           <label>Home:</label>\n" +
                    "                           <p style='margin: 0px'>" + home + "</p>" +
                    "                       </div>\n" +
                    "                   <div class='col'" +
                    "                       <div class=\"form-group mt-2\">\n" +
                    "                           <label>Entrance:</label>\n" +
                    "                           <p style='margin: 0px'>" + entrance + "</p>" +
                    "                       </div>\n" +
                    "                   <div class='col'" +
                    "                       <div class=\"form-group mt-2\">\n" +
                    "                           <label>Flat:</label>\n" +
                    "                           <p style='margin: 0px'>" + flat + "</p>" +
                    "                       </div>\n" +
                    "               </div>\n" +
                    "               <div style='margin: 20px' class='row'>" +
                    "                   <div class='col'" +
                    "                       <div class=\"form-group mt-2\">\n" +
                    "                           <label>Payment form:</label>\n" +
                    "                           <p style='margin: 0px'>" + paymentForm + "</p>" +
                    "                       </div>\n" +
                    "                   <div class='col'" +
                    "                       <div class=\"form-group mt-2\">\n" +
                    "                           <label>Prepare cash:</label>\n" +
                    "                           <p style='margin: 0px'>" + prepareCash + "</p>" +
                    "                       </div>\n" +
                    "                   <div class='col'" +
                    "                       <div class=\"form-group mt-2\">\n" +
                    "                           <label>Comment:</label>\n" +
                    "                           <p style='margin: 0px'>" + comment + "</p>" +
                    "                       </div>" +
                    "               </div>" +
                    "               <div style='margin: 20px' class='row'>" +
                    "                   <div class='col'" +
                    "                       <div class=\"form-group mt-2\">\n" +
                    "                           <label>Coffees:</label>\n" +
                    "                           <form method='get' action='" + url + "/coffeeOrder' enctype=\"multipart/form-data\">" +
                    "                               <input type='number' value='" + order.id + "' name='orderId' style='display: none'>"+
                    "                               <button type=\"submit\" class=\"btn btn-info\">Info</button>" +
                    "                           </form>" +
                    "                       </div>\n" +
                    "                   <div class='col'" +
                    "                       <div class=\"form-group mt-2\">\n" +
                    "                           <label>Teas:</label>\n" +
                    "                           <form method='get' action='" + url + "/teaOrder' enctype=\"multipart/form-data\">" +
                    "                               <input type='number' value='" + order.id + "' name='orderId' style='display: none'>"+
                    "                               <button type=\"submit\" class=\"btn btn-info\">Info</button>" +
                    "                           </form>" +
                    "                       </div>\n" +
                    "                   <div class='col'" +
                    "                       <div class=\"form-group mt-2\">\n" +
                    "                           <label>Desserts:</label>\n" +
                    "                           <form method='get' action='" + url + "/dessertOrder' enctype=\"multipart/form-data\">" +
                    "                               <input type='number' value='" + order.id + "' name='orderId' style='display: none'>"+
                    "                               <button type=\"submit\" class=\"btn btn-info\">Info</button>" +
                    "                           </form>" +
                    "                       </div>\n" +
                    "                   <div class='col'" +
                    "                       <div class=\"form-group mt-2\">\n" +
                    "                           <label>Sandwiches:</label>\n" +
                    "                           <form method='get' action='" + url + "/sandwichOrder' enctype=\"multipart/form-data\">" +
                    "                               <input type='number' value='" + order.id + "' name='orderId' style='display: none'>"+
                    "                               <button type=\"submit\" class=\"btn btn-info\">Info</button>" +
                    "                           </form>" +
                    "                       </div>\n" +
                    "                   <div class='col'" +
                    "                       <div class=\"form-group mt-2\">\n" +
                    "                           <label>Snacks:</label>\n" +
                    "                           <form method='get' action='" + url + "/snackOrder' enctype=\"multipart/form-data\">" +
                    "                               <input type='number' value='" + order.id + "' name='orderId' style='display: none'>"+
                    "                               <button type=\"submit\" class=\"btn btn-info\">Info</button>" +
                    "                           </form>" +
                    "                       </div>\n" +
                    "               </div>\n" +
                    "        </div>"
                ));
            },
            error: function() {
                console.log('error /getOrderById');
            }
        });
    }

    function closePopup(){
        modal.style.display = "none";
        $("#popup").empty();
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
            $("#popup").empty();
        }
    }

    function deleteObject(id){
        let data = { id: id };
        $.ajax({
            type: 'post',
            url: url + '/deleteOrderById',
            data: data,
            dataType: "json",
            success: function (success){
                console.log(success + ' /deleteOrderById');
                updatePage()
            },
            error: function() {
                console.log('error /deleteOrderById');
            }
        });
    }

    function paginationButton(){
        $("#choose-page").empty();
        if(totalPage > 1){
            if(currentPage !== 1){
                $("#choose-page").append($("" +
                    "<div class='page-item'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goFirstPage()' style='height: 40px'>First</button>" +
                    "</div>" +
                    "<div class='page-item'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goPreviousPage()' style='height: 40px'>\<\<</a>" +
                    "</div>"
                ));
            } else {
                $("#choose-page").append($("" +
                    "<div class='page-item disabled'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goFirstPage()' style='height: 40px'>First</button>" +
                    "</div>" +
                    "<div class='page-item disabled'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goPreviousPage()' style='height: 40px'>\<\<</a>" +
                    "</div>"
                ));
            }
            let start = currentPage - 2;
            let finish = currentPage + 2;
            for(let i = start; i <= finish; i++) {
                if(i > 0 && i <= totalPage) {
                    if (currentPage === i) {
                        $("#choose-page").append($("" +
                            "<div class='page-item active'>" +
                            "<button onclick='goToPage(" + i + ")' class='page-link' tabIndex=\"-1\" style='height: 40px; width: 40px'>" + i + "</button>" +
                            "</div>"
                        ));
                    } else {
                        $("#choose-page").append($("" +
                            "<div class='page-item'>" +
                            "<button onclick='goToPage(" + i + ")' class='page-link' tabIndex=\"-1\" style='height: 40px; width: 40px'>" + i + "</button>" +
                            "</div>"
                        ));
                    }
                }
            }
            if(currentPage !== totalPage) {
                $("#choose-page").append($("" +
                    "<div class='page-item'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goNextPage()' style='height: 40px'>\>\></button>" +
                    "</div>" +
                    "<div class='page-item'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goLastPage()' style='height: 40px'>Last</a>" +
                    "</div>"
                ));
            } else {
                $("#choose-page").append($("" +
                    "<div class='page-item disabled'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goNextPage()' style='height: 40px'>\>\></button>" +
                    "</div>" +
                    "<div class='page-item disabled'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goLastPage()' style='height: 40px'>Last</a>" +
                    "</div>"
                ));
            }
        }
    }

    function goFirstPage(){
        currentPage = 1;
        updatePage();
    }
    function goPreviousPage(){
        currentPage--;
        updatePage()
    }
    function goToPage(i){
        currentPage = i;
        updatePage()
    }
    function goNextPage(){
        currentPage++;
        updatePage()
    }
    function goLastPage(){
        currentPage = totalPage;
        updatePage()
    }
</script>

</main>
</body>
</html>