<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Privacy policy</title>

    <style th:replace="blocks/linkAdminLTE"></style>
    <div th:replace="blocks/links-bootstrap"></div>
    <link rel="stylesheet" th:href="@{/css/popup.css}">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <div th:replace="blocks/navbar"></div>
    <div th:replace="blocks/sidebarContainer"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <h1 class="m-0">Privacy policy</h1>
            </div>
        </div>

        <!-- Main content -->
        <section id="content" class="content">

        </section>
    </div>
</div>

<div th:replace="blocks/scriptAdminLTE"></div>
<script th:src="@{/js/validation.js}"></script>

<script>
    let context2 = window.location.pathname.substring(0, window.location.pathname.indexOf("/",1));
    let url = window.location.protocol+"//"+ window.location.host + context2;
    console.log('url: ' + url)

    $(document).ready(function() {
        updatePage();
    });

    function save(){
        let text = document.getElementById('text');
        let data = {
            text: text.value
        }
        $.ajax({
            type: 'post',
            url: url + '/updatePrivacyPolicy',
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log('success /updatePrivacyPolicy');
                let validation = JSON.parse(data);
                if (validation == null) {
                    updatePage(currentPage, sortingField, sortingDirection)
                    closePopup();
                } else {
                    validationMessage(validation);
                }
            },
            error: function () {
                console.log('error /updatePrivacyPolicy');
            }
        });
    }

    function validationMessage(validation){
        if(validation?.text ?? false){
            document.getElementById('textMessage').innerHTML = validation.text;
            document.getElementById('text').style.border = "1px solid red";
        }else {
            document.getElementById('textMessage').innerHTML = "";
            document.getElementById('text').style.border = "1px solid green";
        }
    }

    function updatePage(){
        $.ajax({
            type: 'get',
            url: url + '/getPrivacyPolicy',
            dataType: "json",
            success: function (data){
                $("#content").empty();
                $("#content").append($("" +
                    "<div class=\"form-group mt-2\">" +
                    "   <label>Text:</label>" +
                    "   <textarea style='height: 350px' placeholder='Enter privacy policies text' id='text' " +
                    "       class='form-control' maxlength=\"5000\">" + data.text + "</textarea>" +
                    "   <p id='textMessage' style=\"color: red\"></p>" +
                    "</div>" +
                    "<button onclick='save()' type='button' class='btn btn-success mt-2'>Save</button>"
                ));
                console.log('success /getPrivacyPolicy');
            },
            error: function() {
                console.log('error /getPrivacyPolicy');
            }
        });
    }
</script>

</main>
</body>
</html>